

<h1 class="text-center">Cursos</h1>

<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
   Crear
  </button>
  
<hr>
<table class="table table-bordered">
<thead>
<tr>
  <th> Nombre</th>
  <th> Grado</th>
  <th> Acciones</th>
</tr>
</thead>
<tbody>
  <tr *ngFor="let course of courses" >
      <th>{{course.name}}</th>
      <th>{{course.grade.name}} </th>
      <th> 
        <button class="btn btn-warning">Editar</button>
        <button class="btn btn-danger">Eliminar</button>
        
      </th>
  </tr>
</tbody>
</table>

  
  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Nuevo curso</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <form (submit)="addCourse($event)">
        <div class="modal-body">
        
            
                <div class="form-group">
                  <label >Nombre</label>
                  <input  class="form-control"  name="name" [(ngModel)]="name" placeholder="Ingrese el nombre">
                </div>
                <div class="form-group">
                    <label for="exampleFormControlSelect1">Seleccione el grado</label>
                    <select class="form-control" name="grade_id" [(ngModel)]="grade_id">
                      <option *ngFor="let grade of grades" [value]="grade.id" >{{grade.name}}</option>
                    </select>
            
                </div>
              
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
          <button type="submit" class="btn btn-primary">Guardar cambios</button>
        </div>
      </form>
      </div>
    </div>
  </div>