<div class="card">
<div class="card-body">
  <form (submit)="addTeacher($event)">
    <div class="input-group">
      <input  type="text" name="name" [(ngModel)]="name" placeholder="agregar nombre" class="form-control">
      <input  type="text" name="lastName" [(ngModel)]="lastName" placeholder="agregar apellido" class="form-control">      
      <span class="input-group-addon">
      <button type="submit" class="btn btn-primary">
      Agregar profesor  
      </button>
    </span>
    </div>
  </form> 

</div>

</div>
<table class="table">
  <thead>
    <tr>
      <td>Nombre</td>
      <td>Apellido</td>
      <td>fecha</td>  
      <td>Operaciones</td>      
          
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let teacher of teachers">
      <td>{{teacher.name}} </td>
      <td>{{teacher.lastName}} </td>
      <td></td>      
      <td><button (click)="deleteTeacher(teacher.id)">{{teacher.id}}</button> </td>
    </tr>

  </tbody>
</table>