
  <!-- Sidebar -->
  <div id="sidebar-wrapper">
  
    <div >
        <div class="col-xs-12 text-center">
                <img src="../../assets/user.png" class="center" style="height: 200px; width: 200px; margin-top:10px; ">
        </div>
           

         <h5 class="text-center">Carlos mario jaramillo </h5> 
    </div>
       
    <hr>
      <ul class="sidebar-nav">
        
          <li>
              <a href="#">Dashboard</a>
          </li>
          <li>
              <a href="#">Shortcuts</a>
          </li>
          <li>
              <a href="#">Overview</a>
          </li>
          <li>
              <a href="#">Events</a>
          </li>
          <li>
              <a href="#">About</a>
          </li>
          <li>
              <a href="#">Services</a>
          </li>
          <li>
              <a href="#">Contact</a>
          </li>
      </ul>
  </div>
 
