
  <!-- Sidebar -->
  <div id="sidebar-wrapper">
  
    <div >
        <div class="col-xs-12 text-center">
                <img src="../../assets/user.png" class="center" style="height: 200px; width: 200px; margin-top:10px; ">
        </div>
           

         <h5 class="text-center">Carlos mario jaramillo </h5> 
    </div>
       
    <hr>
      <ul class="sidebar-nav">
        
          <li>
              <a href="#">Profesores</a>
          </li>
          <li>
              <a href="#">Estudiantes</a>
          </li>
          <li>
              <a href="#">Cursos</a>
          </li>
          <li>
              <a href="#">Asignaturas</a>
          </li>
          <li>
              <a href="#">Tareas</a>
          </li>
          
      </ul>
  </div>
 
